ul {
    list-style-type: none;
    padding-left: 0;
}
img {
    width: 100%;
    height: auto;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin: 0 auto;
    max-width: 1128px;
    justify-content: space-between;
    
}
.gallery-item {
    display: flex;
    width: calc((100% - 48px) / 3);
}
.gallery-item:hover,
.gallery-item:focus {
    cursor: pointer;
}